* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.container .card {
    width: 100%;
}

.container .card .imgBx {
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;
}

.container .card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
    transform-origin: right;
}

.container .card:hover .imgBx img {
    transform: scale(1.5);
}

.action {
    position: absolute;
    top: 10px;
    right: 10px;
}

.action li {
    position: relative;
    list-style: none;
    width: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    cursor: pointer;
    transition: transform 0.5s;
    transform: translateX(60px);
}

.action li:nth-child(2) {
    transition-delay: 0.15s;
}

.container .card:hover .action li {
    transform: translateX(0);
}

.action li:hover {
    background: black;
    color: #fff;
}

.action li span {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%) translateX(-20px);
    white-space: nowrap;
    background: #fff;
    padding: 4px 6px;
    color: #333;
    font-weight: 700;
    font-size: 12px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
}

.action li:hover span {
    transform: translateY(-50%) translateX(0);
    opacity: 1;
}

.container .card .content {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.container .card .content .productName h3 {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin: 5px 0;
    transition: 0.5s;
}

.container .card .content .productName h3:hover {
    transform: scale(1.2);
    color: gray;
    text-shadow: 6px -10px black;
}

.container .card .content .price_rating {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container .card .content .price_rating h3 {
    font-size: 20px;
    color: rgb(7, 216, 7);
    font-weight: 500;
}

@media (max-width:1200px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}
@media (max-width:1000px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}
@media (max-width:800px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        width: 80%;
    }
    .add_head{
        display: flex;
        flex-direction: column;
    }
}

.del_btn{
    background: red;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    padding: 0 5px;
}

.add_head{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign_in{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
